[submodule "jss7-attack-simulator"]
	path = jss7-attack-simulator
	url = https://github.com/polarking/jss7-attack-simulator
[submodule "ss7-ml-analysis"]
	path = ss7-ml-analysis
	url = https://github.com/polarking/ss7-ml-analysis
[submodule "ss7-ml-preprocess"]
	path = ss7-ml-preprocess
	url = https://github.com/polarking/ss7-ml-preprocess
